/*
  This software is distributed under GNU General Public License, ver. 1.2
  or higher (at your option), released by Free Software Foundation. You can
  find text of GNU GPL at
    http://sageshome.net/GPL.php
  or
    http://www.gnu.org/

  Copyright(C) Sergey A. Galin, 2003.
*/

body{
  font-family: Sans-Serif;
  color: black;
  background-color: white;
  font-size: 12pt;
  margin: 0;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 0;
  padding-bottom: 0;
}

body.dictinfo{
  background: url('WDBlur.jpg');
}

h1{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: -1px;
  font-size: 16pt;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #F0F0F0;
  padding: 2pt;
  background-color: navy;
  font-family: Sans-Serif;
}

h2{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2pt;
  padding: 1pt;
  font-size: 14pt;
  font-weight: bold;
  color: #F0F0F0;
  background-color: navy;
  text-align: center;
  font-family: Sans-Serif;
}

h3{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 3pt;
  padding: 0;
  font-size: 14pt;
  font-weight: bold;
}

h4{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 3pt;
  padding: 0;
  font-size: 13pt;
  font-weight: bold;
  font-style: italic;
}

h5{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 3pt;
  padding: 0;
  font-size: 11pt;
  font-weight: bold;
  font-style: italic;
}


p{
  margin-top: 2pt;
  margin-bottom: 2pt;
}

body.readme p{ margin-left: 20pt; margin-right: 20pt; margin-top: 4pt; margin-bottom: 4pt; }
body.readme h1{ margin-bottom: 20pt; }
body.readme h3{ margin-left: 20pt; margin-right: 20pt; margin-top: 8pt; margin-bottom: 8pt; }
body.readme h4{ margin-left: 20pt; margin-right: 20pt; margin-top: 8pt; margin-bottom: 8pt; }
body.readme h5{ margin-left: 20pt; margin-right: 20pt; margin-top: 8pt; margin-bottom: 8pt; }
body.readme h2{ margin-top: 12pt; margin-bottom: 12pt; margin-left: 20pt; margin-right: 20pt; }

/* Margins must be symmetrical to allow correct center alignment */
ul{ margin-left: 4pt; margin-right: 4pt; }
li{ margin-left: 6pt; margin-right: 6pt; }
dl{ margin-left: 24pt; }
dt{ margin-left: 10pt; margin-right: 24pt; font-weight: bold; }
dd{ margin-left: 20pt; margin-right: 30pt; text-indent: -2pt; }

table{ border-collapse: collapse; }
tr{ padding: 0; margin: 0; }

table.maintable{
  /*border: solid 1px navy;*/
  background-color: white;
  border-collapse: collapse;
}

table.maintable td{
  padding: 0;
  margin: 0;
}

div.query{
  border: solid 1px navy;
  background-color: #E0E0E0;
  text-align: left;
  padding: 8pt;
}

div.results{
  margin-left: 2pt;
  margin-right: 1pt;
}

table.maintable td.results{
  text-align: left;
  vertical-align: top;
  /*border: solid 1px navy;*/
  padding-left: 20pt;
  padding-right: 8pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
}

td.top{
  border: solid 1px navy;
}

td.dictionaries{ text-align: left; vertical-align: top; }
td.dictionaries a{ color: navy; text-decoration: none; font-weight: normal;  font-style: normal; }
td.dictionaries a:hover{ color: blue; text-decoration: underline; }

td.dictionaries small{
  font-size: 8pt;
}

td.bottom{
  border-top: dotted 1px #000060;
 /* border-bottom: dotted 1px navy;*/
  color: #404040;
  font-style: italic;
}
td.bottom a{ text-decoration: none; color: #202060; }
td.bottom a:hover{ text-decoration: underline; color: blue; }
td.bottom small{ font-size: 8pt; }


p.res_word{ border-bottom: dotted 1px black; }

strong.art_word{
  font-weight: normal;
  color: #000060;
  background-color: #F8FFC0;
}

em.list{ font-weight: bold; font-style: italic; }
strong.wildcard{ font-weight: bold; color: navy; }
samp.transcr{ font-family: Serif; color: green; font-style: normal; }
p.art_dic{ border-bottom: dotted 1px red; }
small.art_dic{ color: red; }
small.art_id{ color: #A0A0A0; font-size: 60%; font-style: italic; }
small.optinfo{ color: #A0A0A0; }
p.art_art{ border-bottom: dashed 1px navy; }
big.art_title{ color: blue; background-color: yellow; }
p.note{ font-style: italic; color: green; font-weight: bold; }
p.error{ font-style: italic; font-weight: bold; color: red; }

.hl0{ color: navy; }
.hl1{ color: green; }

div.terminal{
  background-color: black;
  color: #F0F0F0;
  font-family: Linux, Terminal, monospaced;
  font-size: 12pt;
  margin-left: 20pt;
  margin-right: 20pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
  border: solid 1px lime;
  padding: 8pt;

}

table.dictgroups{ border-collapse: collapse; padding: 0; border: solid 1px navy; margin: 4pt; background-color: #F2F2F2; }
table.dictgroups tr{ padding: 0; margin: 0; }
table.dictgroups td{ margin: 0; padding: 0; vertical-align: top; text-align: left; }
table.dictgroups td p.column{ margin: 0; padding-left: 6pt; padding-right: 2pt; padding-bottom: 2pt; white-space: nowrap; }
table.dictgroups td h2{ margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 2pt; }
table.dictgroups td.bordered{ border-top: solid 1px navy; border-bottom: solid 1px navy; }

table.menu{ border-collapse: collapse; padding: 0; border: solid 1px navy; margin: 4pt; background-color: #F2F2F2; }
table.menu tr{ padding: 0; margin: 0; }
table.menu td{ margin: 0; padding: 0; vertical-align: top; text-align: left; }
table.menu td p.column{ margin: 0; padding-left: 6pt; padding-right: 2pt; padding-bottom: 2pt; white-space: nowrap; }
table.menu td h2{ margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 2pt; }
table.menu td.bordered{ border-top: solid 1px navy; border-bottom: solid 1px navy; }
table.menu a{ text-decoration: none; }
table.menu a:hover{ background-color: yellow; text-decoration: none; }



table.dictboxes{ margin-top: 2pt; margin-bottom: 2pt; }

.lft{ text-align: left; }
.rgt{ text-align: right; }
.cen{ text-align: center; }
.jus{ text-align: justify; }
.top{ vertical-align: top; }
.mid{ vertical-align: middle; }
.bot{ vertical-align: bottom; }
.pad3{ padding: 3pt; }
.pad10{ padding: 10pt; }

table.grid{ border: solid 1px black; border-collapse: collapse; }
table.grid th{ border: solid 1px black; margin: 0; text-align: left; vertical-align: top; padding: 3pt; }
table.grid td{ border: solid 1px black; margin: 0; text-align: left; vertical-align: top; padding: 3pt; }

.newdict{
  color: navy;
}


strong.contributor{
  color: navy;
  font-weight: bold;
}

dt.cvs{
  color: #606060;
}

dd.inprogress{ color: gray; }
.inprogress{ color: gray; }

pre.showquery{ color: green; }
body.readme pre{ margin-left: 20pt; margin-right: 20pt; margin-top: 4pt; margin-bottom: 4pt; }
body.readme ol{ margin-left: 20pt; margin-right: 20pt; margin-top: 4pt; margin-bottom: 4pt; }
body.readme ul{ margin-left: 20pt; margin-right: 20pt; margin-top: 4pt; margin-bottom: 4pt; }

.outlined{ border: solid 1px navy; padding: 4px; }


